
.mainLayout
  // background-color: red
  width: 600px
  margin: auto
  // margin-top: 60px
  // box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5)
  box-sizing: border-box
  // display: flex
  // flex-direction: column
  // align-items: center
  // justify-content: center

.trainerLayout
  background-image: url('../images/bg.png')
  background-size: cover

  // background-color: blue
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px
  box-sizing: border-box
  .titleText
    margin-top: 30px
    color: white
    font-size: 60px
    font-weight: bold
    color: rgb(238, 235, 235)

  .imgWrapper
    margin-top: 16px
    // width: 200px
    // height: 200px
  .wordWrapper
    margin-top: 16px
    font-size: 40px
    color: rgb(40, 40, 40)


  .btnWrapper
    margin-top: 12px
    .iconWrapper
      font-size: 50px
      // color: white
      // width: 80px
      // height: 80px

  .ansWrapper
    margin-top: 20px
    font-size: 40px
    font-weight: bold
    color: rgb(40, 40, 40)

